{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Cari Bebek Rempah? Mbah Gondo jawabannya{% endblock title %}

{% block content %}

        <!-- Header -->
        <header id="header" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <!-- Text Slider -->
                        <div class="slider-container">
                            <div class="swiper-container text-slider">
                                <div class="swiper-wrapper">

                                    {% for berita in beritas %}

                                        <!-- Slide -->
                                        <div class="swiper-slide">
                                            <div class="row">
                                                <div class="col-lg-6 col-xl-7">
                                                    <div class="image-container">
                                                        <a href="{% if berita.menuju_ke %} {{berita.menuju_ke}} {% else %}{% endif %}" target="_blank">
                                                            <img class="img-fluid" src="{{berita.gambar.url}}" alt="alternative">
                                                        </a>
                                                    </div> <!-- end of image-container -->
                                                </div> <!-- end of col -->
                                                <div class="col-lg-6 col-xl-5">
                                                    <div class="text-container">
                                                        <a href="{% if berita.menuju_ke %} {{berita.menuju_ke}} {% else %}{% endif %}" target="_blank" style="text-decoration:none">
                                                            <h1 class="h1-large">{{berita.judul|truncatechars:30 }}</h1>
                                                        </a>
                                                        <p class="p-large"> 
                                                            {{berita.konten|truncatechars:100 }}
                                                        </p>
                                                        <a class="btn-solid-lg page-scroll" href="#registration">HARGA KHUSUS</a>
                                                        <a class="btn-outline-lg" href="{{katalog_biasa}}" target="_blank">DOWNLOAD KATALOG</a>
                                                    </div> <!-- end of text-container -->
                                                </div> <!-- end of col -->
                                            </div> <!-- end of row -->
                                        </div> <!-- end of swiper-slide -->
                                        <!-- end of slide -->                                    
                                    
                                    {% endfor %}
                                    
                                    <!-- Slide -->
                                    <div class="swiper-slide">
                                        <div class="row">
                                            <div class="col-lg-6 col-xl-7">
                                                <div class="image-container">
                                                    <img class="img-fluid" src="{% static '/images/menu/b_u_m1.jpeg' %}" alt="alternative">
                                                </div> <!-- end of image-container -->
                                            </div> <!-- end of col -->
                                            <div class="col-lg-6 col-xl-5">
                                                <div class="text-container">
                                                    <h1 class="h1-large">Cari Bebek Rempah?</h1>
                                                    <p class="p-large"> 
                                                        <b>Mbah Gondo </b> jawabannya. 
                                                        <br> Bebek dan ayam kampung rempah <b> siap goreng </b> untuk Anda nikmati di rumah!
                                                        <br> Buktikan disini 
                                                        <i class="fa fa-solid fa-arrow-circle-down fa-beat"></i>
                                                    </p>
                                                    <a class="btn-solid-lg page-scroll" href="#registration">HARGA KHUSUS</a>
                                                    <a class="btn-outline-lg" href="{{katalog_biasa}}" target="_blank">DOWNLOAD KATALOG</a>
                                                </div> <!-- end of text-container -->
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of swiper-slide -->
                                    <!-- end of slide -->

                                    <!-- Slide -->
                                    <div class="swiper-slide">
                                        <div class="row">
                                            <div class="col-lg-6 col-xl-7">
                                                <div class="image-container">
                                                    <img class="img-fluid" src="{% static '/images/menu/b_b_m1.jpeg' %}" alt="alternative">
                                                </div> <!-- end of image-container -->
                                            </div> <!-- end of col -->
                                            <div class="col-lg-6 col-xl-5">
                                                <div class="text-container">
                                                    <h1 class="h1-large">Kualitas Terjamin</h1>
                                                    <p class="p-large">Daging bebek dan ayam dipotong dengan hati-hati dan dibekukan segera untuk menjaga <b>kesegaran</b> dan <b>rasa alami</b> yang tahan lama.</p>
                                                    <a class="btn-solid-lg page-scroll" href="#registration">HARGA KHUSUS</a>
                                                    <a class="btn-outline-lg" href="{{katalog_biasa}}" target="_blank">DOWNLOAD KATALOG</a>
                                                </div> <!-- end of text-container -->
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of swiper-slide -->
                                    <!-- end of slide -->

                                    <!-- Slide -->
                                    <div class="swiper-slide">
                                        <div class="row">
                                            <div class="col-lg-6 col-xl-7">
                                                <div class="image-container">
                                                    <img class="img-fluid" src="{% static '/images/menu/b_u_r6.jpeg' %}" alt="alternative">
                                                </div> <!-- end of image-container -->
                                            </div> <!-- end of col -->
                                            <div class="col-lg-6 col-xl-5">
                                                <div class="text-container">
                                                    <h1 class="h1-large">Produk Bervariasi</h1>
                                                    <p class="p-large">
                                                        Semua produk mudah dipersiapkan dan cocok untuk berbagai macam hidangan. 
                                                        Variasikan hidanganmu sekarang 
                                                        <i class="fa fa-solid fa-arrow-circle-down fa-beat"></i>
                                                    </p>
                                                    <a class="btn-solid-lg page-scroll" href="#registration">HARGA KHUSUS</a>
                                                    <a class="btn-outline-lg" href="{{katalog_biasa}}" target="_blank">DOWNLOAD KATALOG</a>
                                                </div> <!-- end of text-container -->
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of swiper-slide -->
                                    <!-- end of slide -->

                                </div> <!-- end of swiper-wrapper -->
                                
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <!-- end of add arrows -->

                            </div> <!-- end of swiper-container -->
                        </div> <!-- end of slider-container -->
                        <!-- end of text slider -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
               
            </div> <!-- end of container -->
        </header> <!-- end of header -->
        <!-- end of header -->

        <!-- Running Text -->
        <div class="runtext-container">
            <div class="main-runtext">
                <marquee direction="" onmouseover="this.stop();" onmouseout="this.start();">                
                    <div class="holder">                    
                        {% for menu in menu_text %}                        
                            <div class="text-container text-uppercase">
                                <a class="popup-with-move-anim runtext" href="#details-lightbox" onclick="renderMenuModal('{{menu.id}}')">
                                    <h1 style="display: inline;">{{menu.nama}} |</h1>
                                </a>
                            </div>                        
                        {% endfor %}
                    </div>
                
                </marquee>
            </div>
        </div>        
        <!-- End Running Text -->

        <!-- Registration -->
        <div id="registration" class="form-1 bg-dark-blue">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h2>HARGA KHUSUS</h2>
                            <p>Kami memahami bahwa harga menjadi salah satu faktor penting dalam memilih produk makanan. Oleh karena itu, kami memberikan harga yang bersaing tanpa mengorbankan kualitas produk kami. Dengan harga khusus, anda dapat:</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i><div class="media-body"><strong>Diskon Harga</strong> untuk pembelian dalam jumlah tertentu</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i><div class="media-body"><strong>Gratis Pengiriman</strong> untuk wilayah Surakarta dan sekitarnya</div>
                                </li>                                
                            </ul>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        {% if messages %}              
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}                                    
                                <div class="pl-5 pr-5">
                                    <div role="alert" class="alert alert-success bgc-success-l4 brc-success-m3 border-2 d-flex align-items-center">
                                        <i class="fas fa-check mr-3 fa-2x text-success"></i>
                                        <div class="text-dark-tp2"> {{ message|safe }} </div>
                                        <button type="button" class="close align-self-start ml-auto text-success-d2 text-150" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="text-center mb-3">
                                    <i class="fa fa-solid fa-arrow-circle-right fa-beat"></i>
                                    <a class="btn-solid-reg" href="{{katalog_khusus}}" target="_blank">DOWNLOAD KATALOG HARGA KHUSUS</a>
                                    <i class="fa fa-solid fa-arrow-circle-left fa-beat"></i>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}                                
                        <!-- Registration Form -->
                        <form id="registrationForm" method="post" action="{% url 'landingpage:beranda' %}#registration">
                            {% csrf_token %}
                            <div class="form-group">                                
                                <input type="text" class="form-control-input" id="{{ form.nama.id_for_label }}" name="{{ form.nama.name }}" value="{% if form.nama.value %}{{ form.nama.value }}{% endif %}" required>
                                <label class="label-control" for="{{ form.nama.id_for_label }}">{{ form.nama.label_tag }}</label>
                            </div>
                            {% if form.errors.nama %}
                                <div style="color:red">{{form.errors.nama}}</div>                            
                            {% endif %}
                            <div class="form-group">
                                <input type="tel" class="form-control-input" id="{{ form.no_wa.id_for_label }}" name="{{ form.no_wa.name }}" value="{% if form.no_wa.value %}{{ form.no_wa.value }}{% endif %}" required>
                                <label class="label-control" for="{{ form.no_wa.id_for_label }}">{{ form.no_wa.label_tag }}</label>
                            </div>                            
                            {% if form.errors.no_wa %}
                                <div style="color:red">{{form.errors.no_wa}}</div>                            
                            {% endif %}
                            <div class="form-group">                                
                                <input type="text" class="form-control-input" id="{{ form.alamat.id_for_label }}" name="{{ form.alamat.name }}" value="{% if form.alamat.value %}{{ form.alamat.value }}{% endif %}" required>
                                <label class="label-control" for="{{ form.alamat.id_for_label }}">{{ form.alamat.label_tag }}</label>
                            </div>
                            {% if form.errors.alamat %}
                                <div style="color:red">{{form.errors.alamat}}</div>                            
                            {% endif %}                                   
                            <div class="form-group">
                                <select name="{{ form.cara_menemukan.name }}" class="form-control-input" id="{{ form.cara_menemukan.id_for_label }}" required>
                                    {% for data in form.fields.cara_menemukan.choices %}
                                        <option value="{{data.0}}" {% if form.cara_menemukan.value|stringformat:'s' == data.0|stringformat:'s' %}SELECTED{% endif %}> {{data.1|capfirst}}</option>
                                    {% endfor %}                    
                                </select>                                
                                <label class="label-control" for="{{ form.cara_menemukan.id_for_label }}">{{ form.cara_menemukan.label_tag }}</label>
                            </div>                            
                            {% if form.errors.cara_menemukan %}
                                <div style="color:red">{{form.errors.cara_menemukan}}</div>                            
                            {% endif %}                            
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">DAPATKAN HARGA KHUSUS</button>
                            </div>                            
                        </form>
                        <!-- end of registration form -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of form-1 -->
        <!-- end of registration -->


        <!-- Details 1 -->
        <div id="details" class="basic-1 bg-dark-blue">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static '/images/menu/b_b_r1.jpeg' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">
                            <h2>Variasi Produk</h2>
                            <p>Kami dengan bangga mempersembahkan bebek dan ayam kampung segar yang telah diproses dengan sempurna untuk memastikan kualitas terbaik untuk pelanggan kami. </p>                            
                            <a class="btn-solid-reg" href="{% url 'landingpage:menu_by_kategori' 0 %}">LIHAT SEMUA PRODUK</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-1 -->
        <!-- end of details 1 -->


        <!-- Details 2 -->
        <div class="tabs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="tabs-container">
                
                            <!-- Tabs Links -->
                            <ul class="nav nav-tabs" id="siteTabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">PERAWATAN</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">PEMOTONGAN</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">PACKAGING</a>
                                </li>
                            </ul>
                            <!-- end of tabs links -->
                            
                            <!-- Tabs Content -->
                            <div class="tab-content" id="siteTabsContent">
            
                                <!-- Tab -->
                                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                                    <h4>Proses Pengolahan</h4>
                                    <p>Kami memahami betapa pentingnya makanan yang sehat dan berkualitas bagi keluarga Anda, dan itulah mengapa kami sangat memperhatikan kesejahteraan dan kesehatan hewan yang kami pelihara.</p>
                                    <p>Semua bebek dan ayam kami berasal dari peternakan kampung yang terpercaya dan diawasi secara ketat untuk memastikan bahwa mereka dipelihara dengan baik dan sehat.</p>
                                </div> <!-- end of tab-pane --> 
                                <!-- end of tab -->
            
                                <!-- Tab -->
                                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                                    <p>Sebelum dilakukan pemotongan, kami memastikan bahwa bebek dan ayam kami telah diproses dengan baik dan sehat, dan telah melewati serangkaian uji kesehatan yang ketat.</p>
                                    <p>Setelah itu, bebek dan ayam dipotong dengan teliti dan hati-hati untuk memastikan bahwa semua bagian dagingnya dipotong dengan baik dan terpisah dari bagian yang tidak diinginkan.</p>
                                </div> <!-- end of tab-pane -->
                                <!-- end of tab -->
            
                                <!-- Tab -->
                                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                                    <p>Setiap produk bebek dan ayam frozen kami dikemas dengan hati-hati dan dipilih dengan cermat untuk memastikan kualitas daging yang terjaga selama pengiriman.
                                    </p>
                                    <p>
                                        Kemasan dibungkus dengan lapisan tambahan untuk melindungi produk dari guncangan dan kerusakan selama pengiriman.
                                    </p>
                                    <p>Kami juga menggunakan bahan kemasan berkualitas tinggi yang aman dan ramah lingkungan untuk memastikan produk Anda tetap segar dan terjaga selama pengiriman.</p>
                                </div> <!-- end of tab-pane -->
                                <!-- end of tab -->
            
                            </div> <!-- end of tab-content -->
                            <!-- end of tabs content -->
            
                        </div> <!-- end of tabs-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static '/images/menu/b_u_r2.jpeg' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of tabs -->
        <!-- end of details 2 -->    

        
        <!-- Modal -->
        {% include 'landingpage/parts/menu_modal.html' %} 

{% endblock content %}


