{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Menu{% endblock title %}

{% block content %}

<div>
    <div class="basic-1" style="z-index: 2;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 order-sm-1 order-lg-2">
                    <img src="{% static 'revo/web/images/menu/header_1_1.png' %}" style="width: 100%;">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="{% static 'revo/web/images/menu/header_1.png' %}" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h__delivery" style="z-index: 1;">
    <img src="{% static 'revo/web/images/guarenteed.png' %}" alt="" style="width: 100%;">
</div>

<div class="cards-1">
    <div class="container">
        <div class="row">
            {% for menu in menus %}            
                <div class="col-lg-4 col-sm-12">
                    <!-- Card -->
                    <a class="popup-with-move-anim" href="#details-lightbox" style="text-decoration: none;" onclick="renderMenuModal('{{menu.id}}')">
                        <div class="card zoom">
                            <div class="card-image">
                                <!-- <i class="fas fa-rocket"></i> -->
                                <img class="" src="{{menu.gambar.url}}" alt="" srcset="" style="width: 100%;">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{menu.nama}}</h5>                        
                            </div>
                        </div>
                    </a>
                    <!-- end of card -->    
                </div>
            {% endfor %}
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
       
{% include 'landingpage/parts/menu_modal.html' %} 

{% endblock content %}


{% block javascript %}

{% endblock %}


