{% extends 'layouts/base.html' %}
{% load static %}

{% load angka %}

{% block title %}Menu{% endblock title %}

{% block content %}

<div>
    {% if kategori_show %}
        <div class="basic-1" style="z-index: 2;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 order-sm-1 order-lg-2">
                        <img src="{{kategori_show.gambar_text.url}}" style="width: 100%;">
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <img src="{{kategori_show.gambar_menu.url}}" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>    
    {% else %}
        <div class="basic-1" style="z-index: 2;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 order-sm-1 order-lg-2">
                        <img src="{% static '/images/k_t_1.png' %}" style="width: 100%;">
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <img src="{% static '/images/k_1.png' %}" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div class="h__delivery" style="z-index: 1;">
    <img src="{% static 'revo/web/images/guarenteed.png' %}" alt="" style="width: 100%;">
</div>

<div class="cards-1">
    <div class="container">
        <div class="row">
            {% for menu in menus %}            
                <div class="col-lg-4 col-sm-12">
                    <!-- Card -->
                    <a class="popup-with-move-anim" href="#details-lightbox" style="text-decoration: none;" onclick="renderMenuModal('{{menu.id}}')">
                        <div class="card zoom">
                            <div class="card-image">
                                <!-- <i class="fas fa-rocket"></i> -->
                                <img class="" src="{{menu.gambar.url}}" alt="" srcset="" style="width: 100%;">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{menu.nama}}</h5>                        
                                <p class="harga">
                                    {% if menu.range_harga %}
                                        {{menu.range_harga}}
                                    {% else %}
                                        Rp{{menu.harga|rupiah}},00
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </a>
                    <!-- end of card -->    
                </div>
            {% endfor %}
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>

<div class="container mb-5 text-center">        
    <a class="kategori_menu_button mb-3" href="{% url 'landingpage:menu_by_kategori' 0 %}">
        Semua
    </a>    
    {% for kategori in kategoris %}                    
        <a class="kategori_menu_button mb-3" href="{% url 'landingpage:menu_by_kategori' kategori.id %}">
            {{kategori.nama}}
        </a>        
    {% endfor %}        
</div>
       
{% include 'landingpage/parts/menu_modal.html' %} 

<script>
    // ============================ [Pixel Track Menu] ============================ 
    let kategori_menu = '{{kategori_show.nama}}'
    nama_kategori = kategori_menu == '' ? 'semua': kategori_menu.toLowerCase().replace(" ", "_");
    ttq.track('ViewContent', {
        content_type: 'product_group',        
        content_name: `daftar_menu_${nama_kategori}`,        
    })
    // ============================ [End Pixel Track Menu] ============================ 
</script>

{% endblock content %}


{% block javascript %}
{% endblock %}


