{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Bebek Rempah Mbah Gondo">
    <meta name="author" content="Bebek Rempah Mbah Gondo">

    <!-- OG Meta Tags to improve the way -->
    {% comment %} <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter --> {% endcomment %}
    <meta name="google-site-verification" content="9KW_RtsMFUZuoCMIe21XnWIFHlShSy6QrAsMdfeDbrU" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WSQC3XQ');</script>
    <!-- End Google Tag Manager -->

    <!-- Tiktok Pixel -->
	<script>
		!function (w, d, t) {
		  w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
		
		  ttq.load('CGUN1U3C77U5JQNOE6M0');
		  ttq.page();
		}(window, document, 'ttq');
	</script>
    <!-- End Tiktok Pixel -->


    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '205946162163306');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=205946162163306&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->    
	        

    <!-- Webpage Title -->
    <title>Mbah Gondo - {% block title %}{% endblock %}</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link href="{% static 'revo/web/css/bootstrap.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'revo/web/css/fontawesome-all.css' %}" rel="stylesheet"> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="{% static 'revo/web/css/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'revo/web/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'revo/web/css/styles.css' %}" rel="stylesheet">
    
    <!-- Favicon  -->
    <link rel="icon" href="{% static 'revo/web/images/logo2-1.png' %}">    
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WSQC3XQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->    

    <!-- Floating -->
    <div class="float-hoverable-right">            
        <a href="http://wa.me/6282136511884" target="_blank" onclick="pixel_wa()">
            <div class="float-hoverable-menu">
            <h2><i class="fab fa-whatsapp" style="color: green;"></i></h2>                                
            </div>
        </a>            
    </div>
    <!-- End Floating -->    

    {% include 'layouts/navbar.html' %}

    {% block content %}{% endblock %}

    {% include 'layouts/footer.html' %}  
    
</body>

<!-- Scripts -->
<script src="{% static 'revo/web/js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="{% static 'revo/web/js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
<script src="{% static 'revo/web/js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="{% static 'revo/web/js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
<script src="{% static 'revo/web/js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
<script src="{% static 'revo/web/js/scripts.js' %}"></script> <!-- Custom scripts -->

<script>
    function pixel_wa() {
        ttq.track('ClickButton', {  
            content_id: 'button_wa',
            content_type: 'product',
        })
    }            

    function pixel_katalog_biasa() {
        ttq.track('Download', {  
            content_id: 'download_katalog_biasa',
            content_type: 'product',
        })
    }    

    function pixel_katalog_khusus() {
        ttq.track('Download', {  
            content_id: 'download_katalog_khusus',
            content_type: 'product',
        })
    }        
</script>

{% block javascript %}{% endblock %}

</html>