
{% load static %}
        <div class="footer-top"></div>
        <!-- Footer -->
        <div class="footer">
          <div class="container">
              <div class="row">

                  <div class="col-lg-4 col-sm-3">
                    <div class="mb-4">
                        <p> <b>Hubungi kami di</b></p>                        
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/mbahgondosolo/"><i class="fab fa-instagram fa-stack-2x"></i></a>                                                                      
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.tiktok.com/@mbahgondo"><i class="fab fa-tiktok fa-stack-2x"></i></a>                                                                      
                        </span>
                        <span class="fa-stack">
                            <a href="mailto:mbah.gondo.unggas@gmail.com"><i class="fa fa-envelope fa-stack-2x"></i></a>                                                                      
                        </span>
                        <span class="fa-stack">
                            <a href="http://wa.me/6282136511884"><i class="fab fa-whatsapp fa-stack-2x"></i></a>                                                                      
                        </span>
                    </div>                    
                  </div> 

                  <div class="col-lg-4 col-sm-3">
                    <div class="mb-4">                    
                        <p> <b>Alamat Produksi</b> </p>
                        <p>Jl. Sadewa No.3, Serengan, Kec. Serengan, Kota Surakarta, Jawa Tengah 57155</p>                        
                        <br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3954.9153018955317!2d110.8182638!3d-7.584198200000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a1777757d5179%3A0x1b20bb0277338ee!2sJl.%20Sadewa%20No.3%2C%20Serengan%2C%20Kec.%20Serengan%2C%20Kota%20Surakarta%2C%20Jawa%20Tengah%2057155!5e0!3m2!1sen!2sid!4v1680850178103!5m2!1sen!2sid" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-3">
                    <div class="mb-4">                    
                        <p> <b>Alamat Ternak:</b> </p>
                        <p>Jl. Pakis Raya No.Rt 3, RW.1, Dusun 1, Boto, Kec. Wonosari, Kabupaten Klaten, Jawa Tengah 57474</p>                            
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3954.631216117817!2d110.73042608566216!3d-7.615045972804796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a6aaf0cfb9b21%3A0x4853112ca5b1a92d!2sJl.%20Pakis%20Raya%2C%20Jawa%20Tengah!5e0!3m2!1sen!2sid!4v1680852482889!5m2!1sen!2sid" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                  </div>                  

              </div> <!-- end of row -->
          </div> <!-- end of container -->
      </div> <!-- end of footer -->  
      <!-- end of footer -->    