{% load static %}

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
          <div class="container">
              
              <!-- Text Logo - Use this if you don't have a graphic logo -->
              <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Name</a> -->

              <!-- Image Logo -->
              <a class="navbar-brand logo-image" href="{% url 'landingpage:beranda' %}"><img src="{% static 'revo/web/images/logo.png' %}" style="width: 100%;" alt="alternative"></a> 

              <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link page-scroll {% if page == 'beranda' %}active{% endif %}" href="{% url 'landingpage:beranda' %}#header">BERANDA</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link page-scroll" href="{% url 'landingpage:beranda' %}#registration">HARGA KHUSUS</a>
                      </li>                      
                      <li class="nav-item">
                        <a class="nav-link page-scroll {% if page == 'menu' %}active{% endif %}" href="{% url 'landingpage:menu' %}">MENU</a>
                    </li>                                            
                      {% comment %} <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</a>
                          <div class="dropdown-menu" aria-labelledby="dropdown01">
                              <a class="dropdown-item page-scroll" href="article.html">ARTICLE DETAILS</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item page-scroll" href="terms.html">TERMS CONDITIONS</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item page-scroll" href="privacy.html">PRIVACY POLICY</a>
                          </div>
                      </li>                       {% endcomment %}
                  </ul>
                  <span class="nav-item social-icons">
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-instagram fa-stack-1x"></i>
                          </a>
                      </span>                      
                  </span>
              </div> <!-- end of navbar-collapse -->
          </div> <!-- end of container -->
      </nav> <!-- end of navbar -->
      <!-- end of navigation -->