{% extends 'dashboard/layouts/base.html' %}
{% load static %}

{% block title %} Peminat {% endblock %}


{% block content %} 

<div class="page-content">

    <div class="page-header border-0 pb-3">
      <h1 class="page-title text-primary-d2 text-150">
        Peminat
        <small class="page-info text-secondary-d2 text-nowrap">
          <i class="fa fa-angle-double-right text-80"></i>
          Tabel
        </small>
      </h1>
        
    </div>    

    <div class="card bcard h-auto">
      
      <!-- Header Table -->
      <div class="d-flex justify-content-end flex-column flex-sm-row px-2 px-sm-0 m-2">                                
        <a type="button" class="btn btn-blue px-3 radius-round border-2 brc-black-tp10" href="{% url 'adminpage:peminat.add' %}">
            <i class="fa fa-plus-circle"></i> Tambah peminat
        </a>                    
      </div>

      <div class="table-responsive">

        <table id="datatable" class="table table-border-x brc-secondary-l3 mb-0">          
          <thead class="sticky-nav text-secondary-m1 text-uppercase text-85">
            <tr>
              <th class="pl-2 pl-lg-4">No</th>
              <th>Nama</th>
              <th>Nomor Whatsapp</th>
              <th>Alamat</th>
              <th>Kebutuhan</th>
              <th>Cara Menemukan</th>
              <th>Aksi</th>
            </tr>
          </thead>

          <tbody>
            {% for peminat in peminats %}                            
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{peminat.nama}}</td>                        
                <td>{{peminat.no_wa}}</td>       
                <td>{{peminat.alamat}}</td>       
                <td>
                  {{peminat.jumlah_kebutuhan}}                  
                  {{peminat.get_waktu_kebutuhan_display}}
                </td>
                <td>
                  {{peminat.cara_menemukan}}
                  <ul>
                    {% for isian in peminat.isianpeminatcaramenemukan_set.all %}
                      <li>{{isian.isian}}</li>
                    {% endfor %}                  
                  </ul>
                </td>       
                <td>
                  <div class="d-flex">  
                    <span class="d-none d-lg-inline mx-1">
                      <a href="{% url 'adminpage:peminat.edit' peminat.id %}" data-action="edit">
                        <button type="button" data-rel="tooltip" data-action="edit" title="Edit" class="btn btn-outline-warning shadow-sm btn-bgc-white">
                            <i class="fa fa-pen text-100"></i>
                        </button>
                      </a>
                    </span>

                    <span class="d-none d-lg-inline mx-1">
                      <a data-action="delete" href="{% url 'adminpage:peminat.delete' peminat.id %}">
                        <button type="button" data-rel="tooltip" data-action="delete" title="Delete" class="btn btn-outline-danger shadow-sm btn-bgc-white">
                            <i class="fa fa-trash text-100"></i>
                        </button>
                      </a>
                    </span>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!-- /.table-responsive-md -->                    
    </div>
  </div>    


{% endblock %}


{% block extendjs %}

<script>
  $(document).ready(function () {
      $('#datatable').DataTable();
  });
</script>

{% endblock %}
