{% extends 'dashboard/layouts/base.html' %}
{% load static %}

{% block title %} Peminat {% endblock %}


{% block content %} 

<div class="page-content">

    <div class="page-header border-0 pb-3">
      <h1 class="page-title text-primary-d2 text-150">
        Peminat
        <small class="page-info text-secondary-d2 text-nowrap">
          <i class="fa fa-angle-double-right text-80"></i>
          Tabel
        </small>
      </h1>
        
    </div>    

    <div class="card bcard h-auto">
      
      <!-- Header Table -->
      <div class="d-flex justify-content-between flex-column flex-sm-row px-2 px-sm-0 m-2">                                
        <button type="button" class="btn btn-success px-3 m-1 radius-round border-2 brc-black-tp10" data-toggle="modal" data-target="#cetak_peminat">
            <i class="fas fa-file-excel"></i> Cetak
        </button>                    
        <a type="button" class="btn btn-blue px-3 m-1 radius-round border-2 brc-black-tp10" href="{% url 'adminpage:peminat.add' %}">
          <i class="fa fa-plus-circle"></i> Tambah peminat
      </a>                    
      </div>

      <div class="table-responsive">

        <table id="datatable" class="table table-border-x brc-secondary-l3 mb-0">          
          <thead class="sticky-nav text-secondary-m1 text-uppercase text-85">
            <tr>
              <th class="pl-2 pl-lg-4">No</th>
              <th>ID Number</th>
              <th>Tanggal Ajuan</th>
              <th>Nama</th>
              <th>Nomor Whatsapp</th>
              <th>Alamat</th>
              <th>Kebutuhan</th>
              <th>Cara Menemukan</th>
              <th>Aksi</th>
            </tr>
          </thead>

          <tbody>
            {% for peminat in peminats %}                            
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ peminat.id_number }}</td>
                <td>{{peminat.created_at}}</td>                        
                <td>{{peminat.nama}}</td>                        
                <td>{{peminat.no_wa}}</td>       
                <td>{{peminat.alamat}}</td>       
                <td>
                  {{peminat.jumlah_kebutuhan}}                  
                  {{peminat.get_waktu_kebutuhan_display}}
                </td>
                <td>
                  {{peminat.cara_menemukan}}
                  <ul>
                    {% for isian in peminat.isianpeminatcaramenemukan_set.all %}
                      <li>{{isian.isian}}</li>
                    {% endfor %}                  
                  </ul>
                </td>       
                <td>
                  <div class="d-flex">  
                    <span class="mx-1">
                      <a href="{% url 'adminpage:peminat.edit' peminat.id %}" data-action="edit">
                        <button type="button" data-rel="tooltip" data-action="edit" title="Edit" class="btn btn-outline-warning shadow-sm btn-bgc-white">
                            <i class="fa fa-pen text-100"></i>
                        </button>
                      </a>
                    </span>

                    <span class="mx-1">
                      <a data-action="delete" href="{% url 'adminpage:peminat.delete' peminat.id %}">
                        <button type="button" data-rel="tooltip" data-action="delete" title="Delete" class="btn btn-outline-danger shadow-sm btn-bgc-white">
                            <i class="fa fa-trash text-100"></i>
                        </button>
                      </a>
                    </span>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!-- /.table-responsive-md -->                    
    </div>
  </div>    


  <!-- Modals are here -->

  <!-- default example -->
  <div class="modal fade" id="cetak_peminat" tabindex="-1" role="dialog" aria-labelledby="cetak_surat_masuk_label" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content border-none radius-0 border-t-4 brc-primary-m1 px-3">
            <div class="modal-header">
                <h5 class="modal-title text-primary-d3" id="cetak_surat_masuk_label">
                Cetak Daftar Peminat
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{% url 'adminpage:peminat.cetak_excel' %}" method="GET">
            <div class="modal-body">
                <!-- Datetime picker plugin -->
                <div>
                    <div class="form-group">
                        <label for="tgl_mulai" class="text-secondary-d3">Tanggal Mulai</label>
                        <input type="date" required class="form-control brc-on-focus brc-primary-m1" id="tgl_mulai" name="tgl_mulai" />
                    </div>
                </div>                
                <div>
                    <div class="form-group">
                        <label for="tgl_akhir" class="text-secondary-d3">Tanggal Akhir</label>
                        <input type="date" required class="form-control brc-on-focus brc-primary-m1" id="tgl_akhir" name="tgl_akhir" />
                    </div>
                </div>        
            </div>

            <div class="modal-footer flex-nowrap bgc-white px-0 py-3">
                <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">
                Tutup
                </button>

                <button type="submit" class="btn btn-primary">
                Cetak
                </button>
            </div>
            </form>
        </div>
    </div>
</div>  

{% endblock %}


{% block extendjs %}

<script>
  $(document).ready(function () {
      $('#datatable').DataTable();
  });
</script>

{% endblock %}
