{% extends 'dashboard/layouts/base.html' %}
{% load static %}

{% block title %} Beranda {% endblock %}


{% block content %} 

<div class="mt-3 p-3">
  <div class="row">
    <div class="col-md-12 col-sm-6 col-lg-4 my-1 my-lg-0 px-sm-1 px-lg-0">
      <div class="d-flex align-items-center bgc-green-d3 py-3 rounded" role="button">

        <div class="pos-rel p-3 bgc-white-tp8 radius-round ml-3 mr-3 shadow-md">
          <i class="pos-abs mt-n2px ml-n3px fas fa-users text-dark-tp5 opacity-5 w-5 h-5 text-center pt-1 text-170"></i>
          <i class="pos-rel fas fa-users text-white w-5 h-5 text-center pt-1 text-170"></i>
        </div>

        <div class="text-white">
          <div>
            <span class="text-160 text-600">{{peminat_count}}</span>                      
          </div>
          <div class="text-uppercase text-85 text-600 letter-spacing">
            Total Peminat
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-12 col-sm-6 col-lg-4 my-1 my-lg-0 px-sm-1 px-lg-0">
      <div class="d-flex align-items-center bgc-orange-d3 py-3 border-l-3 brc-white-tp2 rounded" role="button">

        <div class="pos-rel p-3 bgc-white-tp8 radius-round ml-3 mr-3 shadow-md">
          <i class="pos-abs mt-n1 ml-n1 fas fa-drumstick-bite text-dark-tp5 opacity-5 w-5 h-5 text-center pt-1 text-170"></i>
          <i class="pos-rel fas fa-drumstick-bite text-white w-5 h-5 text-center pt-1 text-170"></i>
        </div>

        <div class="text-white">
          <div>
            <span class="text-160 text-600">{{menu_count}}</span>                      
          </div>
          <div class="text-uppercase text-85 text-600 letter-spacing">
            Total Menu
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-12 col-sm-6 col-lg-4 my-1 my-lg-0 px-sm-1 px-lg-0">
      <div class="d-flex align-items-center bgc-purple-d2 py-3 border-l-3 brc-white-tp2 rounded" role="button">

        <div class="pos-rel p-3 bgc-white-tp8 radius-round ml-3 mr-3 shadow-md">
          <i class="pos-abs mt-n1 fa fa-drumstick-bite text-dark-tp5 opacity-4 w-5 h-5 text-center pt-1 fa-2x"></i>
          <i class="pos-rel fa fa-drumstick-bite text-white w-5 h-5 text-center pt-1 text-170"></i>
        </div>

        <div class="text-white">
          <div>
            <span class="text-160 text-600">{{kategori_menu_count}}</span>                      
          </div>
          <div class="text-uppercase text-85 text-600 letter-spacing">
            Total Kategori
          </div>
        </div>

      </div>
    </div>

  </div>
</div>  

{% endblock %}
